html{
    background-image: url("https://img.freepik.com/vector-premium/pared-ladrillo-blanco-fondo-textura-perfecta_135176-855.jpg?w=2000");
    
}
body{
    width: 80%;
    margin: auto;
    background-color: hsl(39, 77%, 83%, 0.70);
    
    height: 100vh;
    
}
h1{
    width: 500px;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    font-size: 60px;;
    color:white;
    background:rgb(63, 183, 115);
    border-radius: 15px 15px 0px 0px;
    
}
form{
    
    width: 500px;
    margin: auto;
    margin-top: 50px;
    background: rgb(63, 183, 115);
    border-radius: 0px 0px 15px 15px;
}
textarea:nth-child(1){
    text-align: center;
}
#text{
    width: 320px;
    height: 40px;
    font-size: 16px;
    margin: 15px 15px 0px 25px; 
}
#add{
    width: 100px;
    height: 46px;
    background-image: url("https://img.freepik.com/vector-premium/pared-ladrillo-blanco-fondo-textura-perfecta_135176-855.jpg?w=2000");
}
#enviroment{
    text-align: center;
    
}
textarea{
    height: 445px;
    width: 300px;
    border-radius: 25px;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
    margin:15px 0px 15px 0px;
    

}
#run{
    width: 110px;
    height: 46px;
    margin: -15px 0px 40px 100px;
    background-image: url("https://img.freepik.com/vector-premium/pared-ladrillo-blanco-fondo-textura-perfecta_135176-855.jpg?w=2000");
    
}
#reset{
    margin-top: 450px;
    margin-left: 22px;
    height: 30px;
    float: right;
    position: absolute;
    background-image: url("https://img.freepik.com/vector-premium/pared-ladrillo-blanco-fondo-textura-perfecta_135176-855.jpg?w=2000");
    
}
#winner{
    font-size: 20px;
}